@media only screen and (max-width:1440.98px) {
	.container {
		max-width: 1170px !important;
	}

	.landing-blog-content {
		padding-bottom: 77px;
	}

	.landing-blog-content .view-more {
		margin-top: 40px;
	}
}

@media only screen and (max-width:1380.98px) {
	.comments-box {
	    font-size: 13px;
	    margin: 55px 15px;
	}
}

@media only screen and (max-width:1360.98px) {
	.social-widgets-wrapper {
	    max-width: 1200px;
	}

	.led-bg {
	    width: 586px;
	    height: 380px;
	}

	.v-slider {
	    padding: 12px;
	}

	.v-slider .item iframe {
	    height: 319px !important;
	}

	.video-slider-left,
	.social-widgets-right {
	    min-height: 580px;
	}

	.social-widgets-right {
		padding: 65px 40px 27px 45px;
	}

	.about-digital-wrold {
		width: 75%;
	}

}

@media only screen and (max-width:1320.98px) {

	.featured-object-wrap {
		max-width: 1020px;
		margin: 0 auto;
	}

}

@media only screen and (max-width:1280.98px) {
	.about-left-slider {
		margin-left: 0;
	}

	.about-content2 .about-left-slider {
		margin-right: 0;
	}

}

@media only screen and (max-width:1199.98px) {
	h2.main-head {
		font-size: 38px;
	}

	h2.main-head small {
		font-size: 22px;
	}

	.common-ul ul li {
		font-size: 16px;
	}

	.about-right p {
		line-height: 156%;
	}

	.business-content h2.main-head,
	.about-content2 h2.main-head {
		font-size: 32px;
	}

	.business-left, .business-right {
		max-width: 700px;
	}

	.blog-overlay-caption h3 {
		font-size: 24px;
		line-height: 32px;
	}

	.small-blog-text h4 {
		font-size: 20px;
		line-height: 26px;
	}

	.pop-all-tags {
		padding-left: 255px;
	}

	.pop-all-tags h2.main-head {
		font-size: 34px;
	}

	.about-overlay-object1 {
		left: 180px;
	}

	.about-content2 .about-overlay-object1 {
		left: 140px;
	}

	.default-content h2 {
	    font-size: 28px;
	}

	.default-content h3 {
	    font-size: 26px;
	}

	.default-content p,
	.default-content ul li,
	.default-content ol li {
	    font-size: 16px;
	}

	.our-video {
		padding: 21px 0px 50px 22px;
	    width: 471px;
	    height: 370px;
	}

	.video-img img {
		max-width: 344px;
	}

	/*.social-widgets-wrapper {
	    max-width: 970px;
	    margin: 0 auto;
	}*/

	.youtube-btn a {
	    max-width: 344px;
	}

	.comment-slider .slick-center .comments-box {
	    padding: 40px 30px;
	}

	.social-widgets-wrapper {
	    max-width: 991px;
	}

	.video-slider-left {
	    padding: 35px 35px 40px 35px;
	    min-height: 485px;
	}

	.social-widgets-wrapper {
	    max-width: 991px;
	}

	.led-bg {
	    width: 480px;
	    height: 312px;
	}

	.social-widgets-right {
	    padding: 60px 35px;
	    min-height: 485px;
	}

	.social-head h3 {
	    font-size: 24px;
	}

	.v-slider .item iframe {
	    height: 261px !important;
	}

	.video-logo a svg {
	    width: 190px;
	}

	#rating-range {
	    width: 67%;
	}

	.review-box h3 {
		font-size: 18px;
	}

	.business-bottom-tagline h3 {
		font-size: 32px;
	}

	.advantage-content:after {
		background-size: 46%;
	}

	.business-feature-content:before {
		background-size: 55%;
	}

	.business-feature-content:after {
		background-size: 70%;
	}

	.business-didyou-know-content:after,
	.business-choose-your-plan-content:after {
		background-size: 60%;
	}

	.about-digital-wrold {
		max-width: 979px;
	}

	.featured-object-wrap {
		max-width: 920px;
	}

	.feature-man1 {
		top: -97px;
		max-width: 148px;
	}

	.feature-man2 {
		top: -101px;
		max-width: 140px;
	}

	.feature-man3 {
		left: -93px;
		max-width: 100px;
	}

	.feature-man4 {
		right: -75px;
		bottom: -2px;
		max-width: 178px;
	}

	.video-man1 {
		max-width: 150px;
	}

	.video-man2 {
		right: -30px;
		max-width: 95px;
	}

	.business-left-cartoon,
	.business-right-cartoon {
		max-width: 245px;
	}

	.main-content.category-free:before,
	.main-content.category-premium:before {
		background-size: 46%;
	}

	.social-widgets {
		height: 324px;
	}

	.business-choose-your-plan-content:before {
		background-size: 55%;
	}

}

@media only screen and (max-width:1040.98px) {
	.login-modal-content {
	    margin: 1.75rem 10px;
	}

	.popular-category-part p {
		font-size: 15px;
	}
}

@media only screen and (max-width:1020.98px) {
	.trending-blog .small-blog-text .date-tag {
		margin-bottom: 4px;
	}

	.review-small-img {
		margin-top: -210px;
	}
}

@media only screen and (max-width:991.98px) {
	.btn-default {
	    font-size: 16px;
	    padding: 12px 18px;
	    min-width: 120px;
	}

	.main-content,
	.about-content2 {
		padding: 40px 0;
	}

	.review-content {
		padding-bottom: 127px;
	}

	.about-digital-wrold {
		max-width: 718px;
	}

	.landing-blog-content {
		padding-top: 40px;
	}

	.date-tag {
		min-width: 129px;
		min-height: 31px;
		font-size: 14px;
	}

	.viewers-tag {
		min-height: 31px;
		font-size: 14px;
	}

	.blog-overlay-caption .date-tag {
		margin-bottom: 15px;
		font-size: 16px;
	}

	.blog-overlay-caption h3 {
		font-size: 20px;
		line-height: 26px;
	}

	.small-blog-text h4 {
		font-size: 17px;
		line-height: 22px;
	}

	.trending-blog .small-blog-text h4 {
		font-size: 15px;
		line-height: 20px;
	}

	h2.main-head {
		font-size: 34px;
	}

	.about-content2 h2.main-head {
		font-size: 29px;
	}

	.business-content h2.main-head {
		font-size: 25px;
	}

	.business-content h2.main-head small {
		font-size: 19px;
	}

	.bottom-main-content .about-right p {
		font-size: 16px;
	}

	.post-right h3 {
		font-size: 24px;
	}

	.all-blogs .all-blogs-part .blog-overlay-caption h3 {
		font-size: 12px;
		padding-right: 36px;
	}

	.all-blogs .all-blogs-part .blog-overlay-caption .date-tag {
		min-width: 70px;
		font-size: 8px;
		margin-bottom: 6px;
	}

	.all-blogs .all-blogs-part .blog-overlay-caption .viewers-tag {
		font-size: 8px;
		margin-bottom: 6px;
	}

	.pop-all-tags h2.main-head {
		font-size: 26px;
	}

	.pop-all-tags {
		padding-left: 200px;
	}

	.pop-all-tags span {
		top: 6px;
	}

	.post-right {
		padding-left: 25px;
		padding-right: 25px;
	}

	.about-50-left {
		width: 40%;
	}

	.about-50-right {
		width: 60%;
	}

	.gr-slider4 {
		margin-top: -85px;
	}

	.default-content h4 {
	    font-size: 22px;
	}

	.blog-cover-overlay h3,
	.blog-cover-overlay h1 {
	    font-size: 28px;
	}

	.blog-cover-overlay {
	    padding: 0 20px 30px 30px;
	}

	/*.social-widgets-wrapper {
	    max-width: 740px;
	}*/

	.social-widgets-content {
		background: none;
	}

	.social-widgets-wrapper {
	    max-width: 100%;
	}

	.our-video {
	    padding: 16px 0px 50px 19px;
	    width: 359px;
	    height: 280px;
	}

	.video-img img {
	    max-width: 259px;
	}

	.youtube-btn a {
	    max-width: 259px;
	    font-size: 55px;
	}

	.overlay-shape1 img, 
	.overlay-shape2 img,
	.overlay-object3 img, 
	.overlay-object4 img,
	.overlay-object5 img,
	.overlay-object6 img,
	.login-overlay1 img,
	.login-overlay2 img {
	    max-width: 60px;
	}

	.c_accordion_wrap {
	    padding: 30px 20px;
	}

	.acc_heading {
	    font-size: 18px;
	}


	.envelope-wrap {
	    max-width: 744px;
	    min-height: 670px;
	}

	.envelope-inner-from {
	    max-width: 545px;
	}

	.env-btn .btn-default {
	    font-size: 18px;
	}

	.envelope-inner-from {
	    padding-top: 75px;
	}

	.envelope-inner-from h3 {
	    font-size: 22px;
	}

	.custom-form label {
	    font-size: 16px;
	    top: -10.3px;
	}

	.envelope-inner-from {
	    min-height: 430px;
	}

	.env-contact-info {
	    margin-top: 18px;
	    font-size: 16px;
	}

	.env-contact-info-in span i {
	    width: 30px;
	    height: 30px;
	    padding: 7px 0;
	}

	.env-contact-info-in span:after {
	    background-size: 78%;
	    left: -9px;
	    top: -9px;
	}

	.contact-form-content .custom-form textarea.form-control {
	    height: 80px;
	}

	.video-slider-left,
	.social-widgets-right {
	    padding: 40px 15px;
	    min-height: auto;
	    width: 100%;
	    display: block;
	    text-align: center;
	}

	.social-widgets-right .row {
		max-width: 550px;
		margin: 0 auto;
	}

	.video-slider-left {
		background: #F1AE00;
	}

	.social-widgets-right {
		background: #FCCB06;
	}

	.video-logo {
	    justify-content: center;
	}

	.led-bg {
	    margin: 0 auto;
	}

	.bg-about-logo svg {
		max-width: 150px;
		height: auto;
	}

	.about-bottom-text2, 
	.about-bottom-text3 {
	    width: 475px;
	    height: 130px;
	}

	#rating-range {
	    width: 60%;
	}

	.review-content:before ,
	.most-popular-categories-content:before,
	.most-popular-categories-content:after,
	.discussion-page-content:before,
	.discussion-page-content:after,
	.survey-content:before,
	.survey-content:after,
	.complain-content:before,
	.complain-content:after {
		background-size: 52%;
	}

	.mission-right {
		font-size: 16px;
	}

	.custom-select-label {
		font-size: 17px;
	}

	.dont-forget-box {
		padding: 40px 30px 40px 30px;
	}

	.busi-did-left-text {
		min-height: 128px;
		width: 593px;
		font-size: 16px;
		line-height: 150.4%;
	}

	.busi-did-left-text:last-child {
		width: 530px;
	}

	.business-bottom-tagline h3 {
		font-size: 26px;
	}

	.business-cur-head {
		font-size: 30px;
	}

	.dashboard-head-panel h2 {
		font-size: 22px;
	}

	.total-reviews-box h3 {
		font-size: 45px;
	}

	.total-reviews-box {
		background-size: 20%;
	}

	.my-profile-wrapper {
		padding: 30px 20px;
	}

	.myprofile-info {
		margin-top: 30px;
	}

	.myprofile-info h4 {
		font-size: 22px;
		margin-bottom: 18px;
	}

	.profile-menu ul li a {
		font-size: 16px;
	}

	.review-level span {
		font-size: 16px;
	}

	.my-profile-content {
		background-size: 10%;
	}

	.featured-object-wrap {
		max-width: 770px;
	}

	.featured-content {
		padding-bottom: 0;
	}

	.featured-object-wrap {
		padding: 46px 15px 68px;
	}

	.business-left-cartoon, 
	.business-right-cartoon {
		max-width: 185px;
	}

	.business-left-cartoon {
		left: 10px;
	}

	.business-right-cartoon {
		right: 10px;
	}

	.company-info h3 {
		font-size: 24px;
	}

	.rating-review-content {
		padding: 40px 20px;
	}

	.rating-review-head {
		padding: 26px 20px;
	}

	.company-contact-info span + span {
		margin-left: 5px;
	}
	.company-contact-info,
	.rating-progress-bar table tbody tr td {
		font-size: 14px;
	}

	.company-info {
		margin-left: 15px;
	}

	.social-widgets {
		height: 380px;
	}

	.popular-category-part {
		padding: 40px 20px;
	}

	.popular-category-part svg {
		max-width: 100px;
	}

	.home-popular-review-info p {
		font-size: 14px;
	}

	.company_listing_logo {
		margin-top: -32px;
	}

	.company-info h3 small {
		font-size: 16px;
	}

	.home-popular-client h4 {
		font-size: 18px;
	}

	.home-popular-client p {
		font-size: 15px;
	}

	.home-popular-client p i {
		font-size: 15px;
	}

	.home-popular-review-info h3 {
		font-size: 18px;
	}

	.home-client-img img {
		width: 70px;
		height: 70px !important;
	}

	.home-popular-client {
		padding-left: 80px;
	}

	.home-popular-review-box {
		max-width: 385px;
	}

	ul.resp-tabs-list {
		padding: 0px 15px;
		max-width: 395px;
	}

	.discussion-review-panel {
		padding-right: 25px;
	}

	.resp-tabs-list li {
		font-size: 15px;
	}

	.discussion-user-info {
		padding-right: 0;
	}

	.dis-comment-views {
		position: relative;
		bottom: 0;
		right: 0;
		margin-top: 30px;
	}

	.discussions-right-panel h4 {
		font-size: 18px;
	}

	.discussions-right-panel {
		font-size: 16px;
	}

	.discussions-left span.language-select {
		top: 8px;
	}

	.choose-your-plan-box-step h4 {
		font-size: 18px;
	}

	.choose-your-plan-box-step ul li {
		font-size: 13px;
	}

	.choose-your-plan-box-step {
		padding: 64px 15px 45px;
	}

	.choose-your-plan-box {
		display: block;
		max-width: 400px;
        margin: 30px auto 0;
	}

	.discussion-details-user-info {
		padding: 22px 30px;
	}

	.c-overlay2,
	.c-overlay1 {
		width: 100px;
	}

	.complain-register-form {
		padding: 30px 20px;
	}

	.survey-details-with-date {
		display: block;
		margin-bottom: 20px;
	}

	.survey-details-with-date h2 {
		margin-bottom: 25px;
		text-align: center;
	}

	.survey-details-with-date .all-inputs {
		justify-content: center;
	}

	.survey-update-message {
		text-align: center;
	}

}

@media only screen and (max-width:840.98px) {
	.about-bottom-text {
	    padding: 20px 30px;
	}

	ul.resp-tabs-list {
		max-width: 100%;
	}

	.our-popular-content {
		margin-bottom: 0;
	}

	.home-popular-review-box-wrapper {
		display: none;
	}

	.home-popular-review-slider {
		display: block;
	}

	.home-popular-review-box {
		position: relative !important;
		top: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		left: 0 !important;
		-webkit-transform:scale(1) !important;
	    transform:scale(1) !important;
		max-width: 100% !important;
	}

	.home-popular-review-slider .item {
		margin: 20px;
	}

	.discussions-left span.language-select {
		position: relative;
		right: 0;
		top: 0;
	}

	.discussions-left .lang-dropdown {
		right: 0;
	}

	.discussions-left .lang-dropdown ul {
		text-align: left;
	}

	.create-survey-head {
		display: block;
		gap: 0;
	}

	.survey-title {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width:767.98px) {
	h2.main-head {
		font-size: 28px;
	}

	.landing-blog-content h2 {
		margin-bottom: 28px;
	}

	.blog-left {
		max-width: 495px;
		margin: 0 auto;
	}

	.blog-right {
		max-width: 495px;
		margin: 110px auto 0;
	}

	.about-left img {
		margin: 0 auto;
	}

	.main-content.business-content {
	    padding-top: 40px;
	}

	.business-left,
	.business-right {
        padding: 40px 40px;
	}

	.business-content .ul-50.common-ul ul {
		margin: 0;
	}

	.bottom-main-content:after {
		display: none;
	}

	.blog-overlay-caption h3 span {
		right: 0;
	}

	.bottom-main-content {
		padding-bottom: 40px !important;
	}

	.all-blogs .all-blogs-part .blog-overlay-caption h3 {
		font-size: 16px;
	}

	.all-blogs .all-blogs-part .blog-overlay-caption .date-tag {
		min-width: 81px;
		font-size: 10px;
		margin-bottom: 8px;
	}

	.all-blogs .all-blogs-part .blog-overlay-caption .viewers-tag {
		font-size: 10px;
		margin-bottom: 8px;
	}

	.load-blogs-slice {
		margin-top: 0 !important;
	}

	.trending-blog {
		max-width: 495px;
		margin: 0 auto;
	}

	.h-item a {
		width: 40px;
		height: 40px;
		font-size: 20px;
		padding: 7px 0;
	}

	.trending-blog h2.main-head,
	.all-blogs .all-blogs-head {
		margin-bottom: 25px;
	}

	.archive-dropdwn {
		top: 43px;
	}

	.h-item a+a {
		margin-left: 10px;
	}

	.post-left {
		width: 100%;
		position: relative;
	}

	.post-right {
		width: 100%;
		min-height: auto;
		padding: 30px 20px;
	}

	.latest-post-content {
		padding-bottom: 0;
	}

	.post-slider .slick-arrow {
		top: -65px;
	}

	.post-slider .slick-arrow-left {
		top: -60px;
	}

	.post-box {
		margin: 16px 10px;
		box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.12);
	}

	#search-box .container .search-main input[type="text"] {
		font-size: 25px;
		height: 60px;
	}

	#search-box .container .search-main input[type="submit"] {
		top: 15px;
		bottom: auto;
		background-size: 28px;
		width: 30px;
		height: 30px;
	}

	.about-left-slider,
	.about-content2 .about-left-slider {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.default-content h2 {
	    font-size: 26px;
	}

	.default-content h3 {
	    font-size: 24px;
	}

	.alignleft,
	.alignright {
		float: none;
		margin: 20px auto;
	}

	.blog-cover-overlay h3 {
	    font-size: 20px;
	}

	.relate-post-content h2.main-head,
	.comments-form h2.main-head {
	    margin-bottom: 25px;
	}

	.input-wrap .form-control {
	    border-radius: 10px;
	    height: 52px;
	}

	.input-wrap textarea.form-control {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.latest-post-content h2.main-head, 
	.popular-tag-content h2.main-head, 
	.trending-blog h2.main-head, 
	.all-blogs h2.main-head,
	.comments-content h2.main-head,
    .relate-post-content h2.main-head,
    .comments-show h2.main-head,
    body.single-post .liking-article .ays_question p,
    h2.inner-main-head {
	    font-size: 26px;
	}

	.latest-post-content h2.main-head small, 
	.popular-tag-content h2.main-head small, 
	.trending-blog h2.main-head small, 
	.all-blogs h2.main-head small,
	h2.inner-main-head small {
	    font-size: 20px;
	}

	.comments-box {
	    font-size: 12px;
	}

	body.single-post .liking-article div.ays-poll-main div.answer-percent {
	    font-size: 16px;
	}

	.faq-cat-body ul li + li {
	    margin-top: 25px;
	}

	.faq-cat-body ul li a {
	    font-size: 16px;
	}

	.acc_contents p {
	    line-height: 24px;
	    font-size: 14px;
	}

	.acc_heading {
	    font-size: 16px;
	}

	.our-video {
	    margin: 0 auto 20px;
	}

	.user-comment-control-wrapper .discussion-user-img img, .user-comment-control-wrapper .discussion-details-user-img img {
		width: 40px;
		height: 40px !important;
	}

	/*.social-widgets-wrapper {
	    max-width: 550px;
	}*/

	.faq-cat-head h4 {
	    font-size: 18px;
	}

	.faq-content {
		padding-top: 0;
	}

	.overlay-object6 {
	    bottom: 0;
	}

	.envelope-wrap {
	    background: #f5f5f5;
	    padding: 30px 15px;
	    max-width: 100%;
	    min-height: auto;
	}

	.envelope-inner-from {
	    min-height: auto;
	    max-width: 100%;
	    padding: 0;
	}

	.env-contact-info {
	    margin-top: 30px;
	    padding: 0;
	}

	.env-contact-info a {
	    font-size: 14px;
	}

	.login-modal-content {
	    background: rgb(255,255,255);
	    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%);
	    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
	    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 );
	    position: relative;
	    padding: 30px 20px;
	    max-width: 520px;
	    min-height: auto;
	    margin: 1.75rem auto;
	}

	.login-modal-content h4 {
	    font-size: 22px;
	}

	.about-bottom-img,
	.busi-did-right {
		max-width: 526px;
		margin: 0 auto;
	}

	.about-bottom-img img {
	    margin: 0 auto;
	}

	.about-bottom-text {
	    width: 100%;
	    height: auto;
	    margin: -50px auto 25px auto;
	    border-left: none;
	    border-top: 10px #FCCB06 solid;
	    max-width: 455px;
	    font-size: 16px;
	    padding: 20px 20px;
	    border-radius: 20px;
	}

	.about-bottom-text.about-bottom-text1 {
		margin-top: 0;
	}

	.about-bottom-text.about-bottom-text3 {
	    margin-top: 10px;
	    margin-bottom: 0;
	}

	.review-left h5 a {
		color: #FCCB06;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
		text-decoration-line: underline !important;
	}

	.review-search-box {
		max-width: 390px;
	}	

	.busi-did-left-text {
		min-height: auto;
		width: 100%;
		max-width: 455px;
		margin: 0 auto;
		border-left: none;
		border-top: 10px #FCCB06 solid;
		max-width: 455px;
		font-size: 16px;
		padding: 20px 20px;
		border-radius: 20px;
	}

	.busi-did-left-text:last-child {
		width: 100%;
		margin-bottom: -50px;
		margin-top: 15px;
		margin-left: auto;
	}

	.business-didyou-know-content h2.inner-main-head {
		text-align: center;
	}

	.upcoming-feature-step {
		font-size: 16px;
	}

	.business-bottom-tagline {
		margin-top: 22px;
	}

	.business-bottom-tagline h3 {
		font-size: 22px;
	}

	.business-bottom-tagline:after {
		display: none;
	}

	.dont-forget-box {
		padding: 30px 20px 30px 20px;
		border-width: 10px;
	}

	.business-feature-step {
		font-size: 16px;
		line-height: 145%;
	}

	.review-slider-wrap, 
	.review-company-wrap {
		margin-top: 20px;
	}

	.about-me-area {
		padding: 25px 20px;
	}

	.about-me-area h2 {
		padding-left: 25px;
	}

	.about-me-area {
		margin-top: 20px;
	}

	.interset-curricular {
		margin-top: 2px;
		margin-bottom: 2px;
		margin-right: 2px;
	}

	.profile-right-content {
		margin-top: 15px;
	}

	.about-digital-content {
		padding-bottom: 0;
	}

	.about-digital-wrold {
		position: relative;
		margin: 0 auto;
	}

	.about-digital-wrold img {
		margin: 0 auto;
	}

	.feature-man3,
	.feature-man4 {
		display: none;
	}

	.feature-man1 {
		top: -70px;
		max-width: 106px;
		left: 25px;
	}

	.feature-man2 {
		top: -76px;
		max-width: 106px;
		right: 25px;
	}

	.review-content {
		padding-bottom: 70px;
	}

	.featured-object-wrap {
		padding: 35px 15px 45px;
	}

	.review-left-img {
		max-width: 550px;
		margin: 0 auto;
	}

	.business-left-cartoon, 
	.business-right-cartoon {
		display: none;
	}

	.company-contact-info span {
		margin: 5px 5px 5px 0 !important;
	}

	.company-info h3 {
		font-size: 20px;
		margin-bottom: 7px;
	}

	.company-rating-review {
		font-size: 14px;
		margin-bottom: 7px;
	}

	.company-rating-review svg {
		max-width: 30px;
	}
	
	.company-rating-review span.rating-point {
		font-size: 18px;
	}

	.company-contact-info + .company-contact-info {
		margin-top: 2px;
	}

	.company-content p {
		font-size: 16px;
	}

	.companies-add {
		text-align: center;
	}

	.companies-add img {
		display: inline-block;
	}


	.home-latest-reviews {
		padding: 35px 0 35px;
	}
	.main-content.business-content {
		padding: 30px 0 !important;
	}

	.popular-category-part svg {
        max-width: 70px;
    }

	.popular-category-part img {
		height: 100px !important;
	}

	 ul.resp-tabs-list {
		display: none;
	  }
	
	  h2.resp-accordion {
		display: block;
		margin-top: 12px;
		margin-bottom: 0;
	}
	
	  .resp-vtabs .resp-tab-content {
		border: 1px solid #C1C1C1;
	  }
	
	  .resp-vtabs .resp-tabs-container {
		border: none;
		float: none;
		width: 100%;
		min-height: initial;
		clear: none;
	  }
	
	  .resp-accordion-closed {
		display: none !important;
	  }
	
	  .resp-vtabs .resp-tab-content:last-child {
		border-bottom: 1px solid #c1c1c1 !important;
	  }
	  
	  .discussion-user-img img,
	  .discussion-details-user-img img {
		width: 35px;
		height: 35px !important;
	}

	.user-comment-repeat {
		padding-left: 48px;
	}

	.discussion-user-info {
		padding-left: 50px;
		min-height: 35px;
	}

	.discussion-user-info h4,
	.discussion-details-user-info h4 {
		font-size: 16px;
	}

	.discussion-review-panel {
		margin-top: 15px;
	}

	h2.resp-tab-active {
		padding: 15px 15px !important;
		font-weight: 500 !important;
	}

	.discussions-right .search-area {
		margin: 0 0 20px 0;
		max-width: 100%;
	}

	.discussions-right-panel + .discussions-right-panel {
		margin-top: 20px;
	}

	.popular-category-part p {
		margin-bottom: 24px;
	}

	.all-cat-slice .popular-category-part svg {
		height: 112px;
		margin-bottom: 10px;
	}

	.custom-progress .progress-questions,
	.custom-progress .progress-value-percentage {
		padding: 10px 15px;
		font-size: 13px;
	}

	.prem-modal-company-info .company_listing_logo {
		width: 95px;
		height: 95px;
		margin-top: -55px;
	}

	.prem-modal-company-info-right {
		padding-left: 115px;
	}

	.company_listing_box h4 {
		font-size: 20px;
	}

	#premiumcompanymodal .company_listing_box .company_listing_p {
		font-size: 16px;
	}

	.company_listing_emoji {
		display: block;
	}

	.survey-rating-part ul li {
		margin: 0 7px;
	}

	.survey-rating-part ul li a img {
		width: 28px;
	}

	.survey-rating-part {
		font-size: 16px;
	}

	.discussion-user-img {
		width: 40px;
		height: 40px;
	}
	
	.discussion-user-img h4 {
		font-size: 18px;
	}

	.discussion-view {
		position: relative;
		right: 0;
		top: 0;
		margin-bottom: 10px;
		text-align: center;
	}

}

@media only screen and (max-width:660.98px) {
    .custom-modal-content {
	    margin: 1.75rem 2%;
	    width: 96%;
	}

	.review-search-select-area {
		display: block;
	}

	.custom-select-box {
		max-width: 230px;
		margin: 0 auto;
	}
	

	.review-search-box {
		margin: 0 auto 10px;
	}
}

@media only screen and (max-width:640.98px) {
	.comments-box {
	    font-size: 14px;
	    margin: 0 10px;
	    opacity: 1;
	    background-color: #fccb06;
	    border-radius: 20px;
	    padding: 30px 20px;
	}

	.env-contact-info-in span i {
	    width: 25px;
	    height: 25px;
	    padding: 6px 0;
	}

	.env-contact-info-in span:after {
	    background-size: 66%;
	    left: -12px;
	    top: -12px;
	}

	.env-contact-info a {
	    font-size: 13px;
	    margin-left: 5px;
	}
}

@media only screen and (max-width:575.98px) {
	.viewers-tag {
		padding: 0 15px;
	}

	.small-blog-text .date-tag,
	.blog-overlay-caption .date-tag {
		min-width: 110px;
		margin-bottom: 8px;
		font-size: 13px;
	}

	.small-blog-text h4 {
		font-size: 14px;
		line-height: 18px;
	}

	.blog-overlay-caption h3 {
		font-size: 16px;
		line-height: 20px;
	}

	.blog-overlay-caption {
		padding: 10px;
	}

	.blog-overlay-caption h3 span a {
		width: 32px;
		height: 32px;
		font-size: 16px;
	}

	.blog-overlay-caption h3 span {
		right: 0;
	}

	.ul-50 ul li {
		width: 100%;
	}

	.about-content2 h2.main-head,
	.landing-blog-content h2 {
		font-size: 24px;
	}

	.business-content h2.main-head {
		font-size: 22px;
	}

	.business-content h2.main-head small,
	h2.main-head small {
		font-size: 18px;
		line-height: 180.4%;
	}

	.business-left, 
	.business-right {
		padding: 30px 25px;
	}

	.business-left .common-ul ul li,
	.business-right .common-ul ul li {
		font-size: 15px;
	}

	.business-left .common-ul ul li strong.zoom_animation, 
	.business-right .common-ul ul li strong.zoom_animation {
		margin-left: 5px;
	}

	.view-more {
		font-size: 16px;
	}

	.review-submit .view-more {
	    font-size: 14px;
	}

	.view-more i {
		width: 32px;
		height: 32px;
		font-size: 18px;
		padding: 4px 0;
	}

	.common-ul ul li {
		margin-bottom: 10px;
	}

	h2.main-head {
		font-size: 24px;
	}

	.pop-all-tags h2.main-head {
	    font-size: 20px;
	    margin-bottom: 25px;
	}

	.pop-all-tags {
		padding-left: 0;
		text-align: center;
	}

	.pop-all-tags span {
	    top: 0;
	    position: relative;
	}

	.pop-all-tags marquee ul li + li {
	    margin-left: 10px;
	}

	.trending-blog .viewers-tag {
		margin-bottom: 4px;
	}

	.post-right h3 {
		font-size: 20px;
	}

	.post-right-wrap .date-tag {
		margin-bottom: 6px;
	}

	.post-slider .slick-arrow-right,
	.review-slider .slick-arrow-right {
		width: 40px;
		height: 40px;
		font-size: 16px;
		padding: 12px 0;
		top: -58px;
	}

	.review-slider .slick-arrow-right {
		top: -40px;
	}

	.post-slider .slick-arrow-left,
	.review-slider .slick-arrow-left  {
		width: 36px;
		height: 36px;
		top: -55px;
		padding: 12px 0;
		right: 70px;
	}

	.review-slider .slick-arrow-left  {
		top: -37px;
	}

	.post-right {
		padding: 30px 15px;
	}

	#search-box .container .search-main .search-inner {
		width: 90%;
	}

	#search-box .container .search-main input[type="text"] {
		font-size: 20px;
	}

	.about-overlay-object1 img {
		width: 100px;

	}

	.default-content h2 {
	    font-size: 24px;
	}

	.default-content h3 {
	    font-size: 22px;
	}

	.default-content h4 {
	    font-size: 19px;
	}

	.default-content h5 {
	    font-size: 17px;
	}

	.default-content h6 {
	    font-size: 15px;
	}

	.blog-cover-overlay {
	    position: relative;
	    padding: 20px 15px;
	    background: #000;
	    border-radius: 20px;
	    margin-top: 10px;
	}

	.latest-post-content h2.main-head, 
	.popular-tag-content h2.main-head, 
	.trending-blog h2.main-head, 
	.all-blogs h2.main-head,
	.comments-content h2.main-head,
    .relate-post-content h2.main-head,
    .comments-show h2.main-head,
    body.single-post .liking-article .ays_question p,
    h2.inner-main-head {
	    font-size: 22px;
	}

	.latest-post-content h2.main-head small, 
	.popular-tag-content h2.main-head small, 
	.trending-blog h2.main-head small, 
	.all-blogs h2.main-head small,
	h2.inner-main-head small {
	    font-size: 18px;
	}

	.c_accordion_wrap {
	    padding: 20px 15px;
	}

	.acc_heading {
	    padding-right: 45px;
	    line-height: 24px;
	}

	.acc_heading::before {
	    width: 32px;
	    height: 33px;
	}

	#creatediscussion .autofield-dropdown {
		margin-top: -24px;
	}

	.overlay-shape1 img, 
	.overlay-shape2 img,
	.overlay-object3 img, 
	.overlay-object4 img,
	.overlay-object5 img,
	.overlay-object6 img,
	.login-overlay1 img,
	.login-overlay2 img {
	    max-width: 35px;
	}

	.env-contact-info {
	    text-align: left;
	    max-width: 180px;
	    margin: 15px auto 0;
	}

	.env-contact-info-in {
	    margin-top: 15px;
	}

	.envelope-inner-social-info .social-icons a {
	    width: 32px;
	    height: 32px;
	    padding: 5px 0;
	}

	.envelope-inner-social-info .social-icons a i {
	    font-size: 15px;
	}

	.envelope-inner-from h3 {
	    font-size: 18px;
	}

	.modal-logo svg {
		width: 100px;
	}

	.login-overlay1 img,
	.login-overlay2 img {
		max-width: 60px;
	}

	.v-slider .slick-dots button {
	    width: 8px;
	    height: 8px;
	}

	.social-head h3 {
	    font-size: 18px;
	}

	.bg-about-logo svg {
	    max-width: 130px;
	    height: auto;
	}

	.review-content:before,
	.most-popular-categories-content:before,
	.most-popular-categories-content:after,
	.discussion-page-content:before,
	.discussion-page-content:after,
	.survey-content:before,
	.survey-content::after,
	.complain-content:before,
	.complain-content:after {
		background-size: 35%;
	}

	.review-slider-wrap {
		margin-top: 0;
	}

	.business-bottom-tagline {
		padding: 28px 15px;
	}

	.business-bottom-tagline h3 {
		font-size: 20px;
	}

	.upcoming-feature-step span {
		top: 20px;
		font-size: 28px;
	}

	.business-feature-icon svg {
		width: 35px;
		margin-right: 14px;
	}

	.advantage-content:after {
		background-size: 32%;
	}

	.business-didyou-know-content:after,
	.business-choose-your-plan-content:after {
		background-size: 42%;
	}

	.business-feature-content:after {
		background-size: 42%;
		background-position: bottom right;
	}

	.business-cur-head {
		font-size: 26px;
	}

	.dashboard-head-panel h2 {
		font-size: 18px;
	}

	.total-reviews-box h4 {
		font-size: 16px;
	}

	.total-reviews-box h3 {
		font-size: 32px;
	}

	.review-rewards .row>* {
		padding: 0 5px;
	}

	.profile-img {
		width: 150px;
		height: 150px;
	}

	.profile-img img {
		border: 10px #F4A835 solid;
	}

	input.camera-icon {
		right: 10px;
	}

	.dashboard-head-panel .btn-default {
		font-size: 14px;
		padding: 8px 18px;
		min-width: 102px;
	}

	.profile-info-table table td, 
	.profile-info-table table th {
		padding: 22px 15px;
		font-size: 14px;
	}

	.my-profile-wrapper {
		padding: 30px 15px;
	}

	.interset-curricular {
		min-height: 35px;
		padding: 7px 18px;
		font-size: 13px;
	}

	.myprofile-info h4 {
		font-size: 18px;
	}

	.myprofile-info p a {
		font-size: 14px;
	}

	.about-me-area h2 {
		font-size: 20px;
	}

	.tooltip-pop {
		max-width: 130px;
		min-height: 75px;
		padding: 16px 13px;
	}

	.tooltip-pop h4 {
		font-size: 10px;
	}

	.tooltip-pop p {
		font-size: 8px;
	}

	.about-right h4 {
		font-size: 18px;
	}

	.feature-man1 {
		top: -52px;
		max-width: 80px;
	}

	.feature-man2 {
		top: -58px;
		max-width: 80px;
	}

	.video-man1 {
		max-width: 98px;
		left: -16px;
	}

	.video-man2 {
		right: -18px;
		max-width: 62px;
	}

	.default-content-area h2 {
		font-size: 22px;
	}

	.default-content-area h3 {
		font-size: 20px;
	}

	.default-content-area h4 {
		font-size: 18px;
	}

	.default-content-area h5 {
		font-size: 16px;
	}

	.default-content-area h6 {
		font-size: 14px;
	}

	.main-content.category-free:before,
	.main-content.category-premium:before {
		background-size: 32%;
	}

	.company-profile {
		padding: 10px 0 10px 0;
	}

	.company-logo {
		margin: 0 auto;
		max-width: 200px;
		position: relative;
		left: 0;
		top: 0;
	}
	.company-info {
		margin: 15px 0 0 0;
		text-align: center;
	}

	.company-info h3 span.verified-tag {
		margin-left: 4px;
	}

	.company-info h3 {
		font-size: 18px;
	}

	.rating-prog-count h2 {
		font-size: 25px;
	}

	.rating-prog-count h2 span svg {
		max-width: 25px;
		margin-top: -4px;
	}

	.rating-prog-count p {
		font-size: 15px;
	}

	.rating-prog-count {
		width: 140px;
	}

	.rating-progress {
		padding-left: 136px;
	}

	.rating-review-head h4 {
		font-size: 18px;
	}

	.rating-review-head {
		padding: 20px 15px;
	}

	.rating-review-content,
	.submit-review-box {
		padding: 25px 15px;
	}

	.submit-review-box {
		background-size: 35%;
	}

	.company-submit-review-form .custom-check .form-check-label {
		min-width: 105px;
		padding: 7px 11px;
		margin: 2px 2px;
		font-size: 13px;
	}

	.social-widgets {
		max-width: 244px;
		margin: 0 auto;
	}
	.about-digital-wrold{
		width: 100%;
	}

	.about-content2 .tooltip-pop {
		right: 0;
		left: auto;
		padding: 10px 11px;
	}
	.all_features_home_page .heading_area h5 {
		font-size: 25px;
	}
	.all_features_home_page .heading_area h2 {
		font-size: 28px;
	}
	.all_features_home_page .each_featur{
		max-width: 320px;
		padding: 20px 15px;
		line-height: 140%;
		margin: 0 auto 20px;
		text-align: center;
	}
	.profile-img img {
		width: 150px;
		height: 150px !important;
	}

	.home-latest-reviews {
		padding: 40px 0 35px;
	}

	.home-latest-reviews .review-slider-wrap h2.inner-main-head{
		padding-right: 115px;
	}

	.popular-category-part {
		margin: 15px 0;
	}

	.dis-comment-views {
		font-size: 14px;
	}

	.dis-right-panel-item {
		margin-top: 22px;
	}

	.default-content-area h4 {
		font-size: 15px;
	}
	
	.home-popular-client p {
		margin-bottom: 5px;
	}

	.home-popular-client p i {
		font-size: 12px;
	}

	.discussion-details-user-info {
		padding: 22px 18px;
	}

	.contribute-discussion {
		font-size: 14px;
	}

	.contribute-discussion a i {
		font-size: 18px;
	}

	.discussion-similar-thread h3 {
		font-size: 20px;
	}

	.prem-modal-company-info .company_listing_logo {
		margin-top: -40px;
		position: relative;
	}

	.prem-modal-company-info-right {
		padding-left: 0;
	}

	.company-list-btm-part {
		padding: 0 25px 40px;
	}

	#premiumcompanymodal .btn-close svg {
		width: 35px;
		height: 35px;
	}

	#premiumcompanymodal .company_listing_emoji .company_listing_span, 
	#premiumcompanymodal .company_listing_emoji p, 
	#premiumcompanymodal .company_listing_emoji .company_listing_span1 {
		font-size: 14px;
	}

	.modal-slide-in .slick-dots li button {
		width: 34px;
		height: 12px;
	}

	.modal-slide-in .slick-dots li {
		margin: 0 3px;
	}

	.survey-head {
		font-size: 16px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.survey-body {
		padding-left: 15px;
		padding-right: 15px;
	}

	.complain-overlay-object1 {
		width: 20px;
		left: 42%;
	}

	.custom-form {
		margin-bottom: 20px;
	}
	

}

@media only screen and (max-width:540.98px) {
    .login-modal-content {
	    margin: 1.75rem 10px;
	}
}

@media only screen and (max-width:520.98px) {

	.log-bowse-content a i {
	    font-size: 20px;
	}

	.remember .custom-form > label.form-check-label {
	    line-height: 24px;
	    margin-left: -4px;
	}

	.remember .form-check-input[type=checkbox] {
	    width: 15px;
	    height: 15px;
	}

	.remember i {
	    font-size: 15px;
	}

	.login-modal-content {
	    padding: 30px 12px;
	}

	.video-slider-left, .social-widgets-right {
	    padding: 40px 10px;
	}

	.led-bg {
	    width: 298px;
	    height: 190px;
	}

	.v-slider .item iframe {
	    height: 160px !important;
	}

	.video-logo a svg {
	    width: 120px;
	}

	.v-slider {
	    padding: 7px;
	}

	.business-left, .business-right {
		padding: 30px 18px;
	}

	.profile-info-table table td, 
	.profile-info-table table th {
		padding: 18px 9px;
		font-size: 12px;
	}

	.survey-rating {
		display: block;
		text-align: center;
	}

	.survey-rating-part + .survey-rating-part {
		margin: 20px 0 0 0;
	}

	.survey-details-with-date .all-inputs {
		display: block;
	}

	.survey-details-with-date .all-inputs .custom-form {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width:480.98px) {
	.about-left-slider, .about-content2 .about-left-slider {
		max-width: 286px;
	}
	.comments-box {
		padding: 30px 20px;
	}

	.envelope-inner-social-info .app-info a img {
	    width: 115px;
	}

	.total-reviews-box {
		padding: 22px 10px;
		border-radius: 10px;
	}

	.total-reviews-box h4 {
		font-size: 12px;
	}

	.total-reviews-box h3 {
		font-size: 26px;
	}

	.rating-prog-count {
		width: 100%;
		position: relative;
	}

	.rating-progress {
		padding-left: 0;
	}
	.all_features_home_page .heading_area {
		margin: 0 0 15px;
	}
	.all_features_home_page .each_featur {
		font-size: 15px;
		line-height: 120%;
		max-width: 245px;
	}
	.all_features_home_page .heading_area h2 {
		font-size: 24px;
	}
	.review-right #review_submit_frm .review-submit.d-flex.justify-content-between.align-items-center{
		flex-direction: column;
	}
	.review-submit .view-more{
		margin-top: 40px !important;
		font-size: 18px;
		background: #fff;
		cursor: pointer;
		color: #000;
	}
	.review-submit .view-more i {
		width: 50px;
		height: 60px;
		line-height: 50px;
		font-size: 18px;
		padding: 4px 0;
	}

	/* paragraph Text justify */
	.about-right p,
	.default-content-area p{
		text-align: justify;
	}
	#ratingRange{
		font-size: 18px;
		max-width: 60px;
	}
	.main-content.business-content{
		background-color: #fff;
	}

	.popular-category-part p {
		text-align: center !important;
	}

	body {
		padding-top: 81px;
	}

}

@media only screen and (max-width:450.98px) {

	.blog-overlay-caption h3 {
		padding-right: 60px;
	}

	.trending-blog .col-6 {
		width: 100%;
	}

	.trending-blog .small-blog-img img {
		margin: 0 auto;
	}

	.trending-blog .small-blog-text {
		margin-top: 20px;
		text-align: center;
	}

	.about-overlay-object1 {
		left: 150px;
	}

	.business-feature-step {
		text-align: center;
		display: block;
	}

	.business-feature-icon svg {
		margin-right: 0;
	}

}

@media only screen and (max-width:420.98px) {
	.gr-slider4 {
		margin-top: -70px;
	}

	.about-content2 .about-overlay-object1 {
		left: 95px;
	}

	.our-video {
	    padding: 12px 0px 50px 15px;
	    width: 294px;
	    height: 228px;
	}

	.video-img img {
	    max-width: 213px;
	}

	.youtube-btn a {
	    max-width: 213px;
	    font-size: 45px;
	}

	.or-connect:before,
	.or-connect:after {
	    width: 27%;
	}

	#rating-range {
	    width: 48%;
	}

	.review-small-img {
		margin-top: -165px;
	}

	.review-left-img:after {
		left: 35px;
	}

	.prem-modal-company-info {
		text-align: left;
	}
}