<%- include('common/header') -%>
   <%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content">
    <div class="container">
        <div class="default-content-area">
            <div class="page_not_found">
                <h1><b>Oops! That page can’t be found.</b></h1>
                <img src="/front-end/images/404-black.png" />
                <a class="go_back" href="/" class="btn-default">GO HOME</a>
            </div>
        </div>
    </div>
</section>
<!-- ============== Section2 End =============== -->

<%- include('common/footer') -%>   