<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<link href="/front-end/css/business-profile-manage-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>


<section class="main-content basic-complain-content bottom-main-content">
    <div class="container">
        <div class="company_profile_management">
            <div class="main_box">
                <div class="basic_info_of_company">
                   <div class="row align-items-center">
                      <div class="col-md-4 col-lg-3">
                         <div class="company_logo">
                            <a href="/company/scwebtech"><img src="/1692865514410-1691580646587-1691402453374-1688989215485-logo.png" alt="SCWEBTECH"></a>
                            <div class="premium_logo"><i class="fas fa-crown"></i></div>
                         </div>
                      </div>
                      <div class="col-md-8 col-lg-6">
                         <div class="company_details">
                            <div class="row">
                               <div class="col-sm-12">
                                  <h2 class="company_name">
                                     SCWEBTECH
                                  </h2>
                                  <h4 class="tag_line">Simply Creative </h4>
                               </div>
                               <div class="col-sm-6">
                                  <p class="common_style"><i class="fas fa-envelope"></i><a href="mailto:info@scwebtech.com">
                                     info@scwebtech.com
                                     </a>
                                  </p>
                               </div>
                               <div class="col-sm-6">
                                  <p class="common_style"><i class="fas fa-mobile"></i><a href="tel:9885458745">
                                     9885458745
                                     </a>
                                  </p>
                               </div>
                               <div class="col-sm-12">
                                  <p class="common_style"><i class="fas fa-map-marker-alt"></i>
                                     Bengal Eco Intelligent Park Module number 19, 13th Floor, Plot No. 3, EM Block, Sector V, Bidhannagar, Kolkata, West Bengal 700091
                                  </p>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-12 col-lg-3">
                         <div class="overall_score">
                            <div class="social_links">
                               <ul>
                               </ul>
                            </div>
                            <div class="score_info">
                               <div class="d-flex align-items-center mb-2">
                               </div>
                               <p>Total Reviews 7</p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="company_profile_navigation">
                   <ul>
                      <li>
                         <a href="/company-dashboard/scwebtech"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                      </li>
                      <li>
                         <a href="#"><i class="fas fa-user-tie"></i> Profile</a>
                         <ul>
                            <li><a href="/myprofile">User Profile</a></li>
                            <li><a href="/company-profile-management/scwebtech">Company Profile</a></li>
                         </ul>
                      </li>
                      <li>
                         <a href="/company-review-listing/scwebtech"><i class="fas fa-envelope"></i> Reviews</a>
                         <ul>
                            <li><a href="/send-review-invitation/scwebtech">Send Review Invitation</a></li>
                         </ul>
                      </li>
                      <!-- <li><a href="/company-poll-listing/scwebtech"><i class="fas fa-poll"></i> Polls</a></li> -->
                      <li class="active"><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                      <!-- <li><a href="/change-password"><i class="fas fa-lock"></i> Change Password</a></li> -->
                      <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                      <li><a href="#"><i class="fa-solid fa-comment-exclamation"></i> Complaint</a>
                          <ul>
                              <li><a href="premium-create-category">Create Category</a></li>
                           </ul>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="company-user-complain-wrapper">
                <div class="c-u-top-head">
                    <div class="c-u-top-head-part">
                       <strong>Token ID:</strong> H559faf#
                    </div>
                    <div class="c-u-top-head-part">
                       <strong>Date:</strong> Oct 10, 2023
                    </div>
                    <div class="c-u-top-head-part">
                       <strong>Status:</strong> <span class="text-success">Solved</span>
                    </div>
                 </div>
                 <div class="all-complain-reg-info">
                    <div class="row">
                       <div class="col-md-4">
                          <div class="c-u-layer-part">
                             <strong>Company Name:</strong> Samsung
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="c-u-layer-part">
                             <strong>Category:</strong> Electronics
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="c-u-layer-part">
                             <strong>Sub Category:</strong> Air Conditioner
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="c-u-layer-part">
                             <strong>Model Number:</strong> S143300500
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="c-u-layer-part">
                             <strong>Date of Purchase:</strong> Oct 10, 2023
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="c-u-layer-part">
                             <strong>Place of Order:</strong> Place name
                          </div>
                       </div>
                       <div class="col-md-12">
                          <div class="c-u-layer-part">
                             <strong>Tags:</strong> compalintags, complaintags, complaintags
                          </div>
                       </div>
                       <div class="col-md-12">
                          <div class="c-u-layer-part">
                             <strong>Message:</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas dolore atque necessitatibus sapiente nesciunt id, recusandae consequatur non nulla possimus delectus cupiditate, illum numquam odio porro obcaecati vero laudantium fuga.
                          </div>
                       </div>
                    </div>
                 </div>
                <div class="custom-text-label">
                    Company Query
                   </div>
                   <div class="custom-text-box" style="background-color: #FFF5CA;">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, porro amet corrupti deserunt dolore, dignissimos officiis tenetur saepe ea nihil ipsum eaque nisi, sed ipsa eum sit beatae dicta itaque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non accusantium ullam veniam expedita nulla fuga omnis ipsum placeat facilis iste, exercitationem impedit dolor repellat incidunt? Explicabo quas eos amet saepe?
                   </div>
                   <div class="custom-text-label">
                    Company Rating
                   </div>
                   <div class="user-rating">
                    <span><img src="/1691875890277-10.High.gif" alt="" style="display: inline-block;" width="35"></span>
                    <span>4.5/5</span>
                   </div>
                   <a href="#" class="btn-default btn-warning mt-4">Reopen your Complain</a>
               </div>
        </div>
       
    </div>
</section>

<%- include('common/footer') -%>