<%- include('common/header') -%>
  <link href="/front-end/css/landing-page-style.css" rel="stylesheet" type="text/css">
  <link href="/front-end/css/discussion-style.css" rel="stylesheet" type="text/css">
  <%- include('common/header-banner') -%>
<body>


    <div class="main_table_wrapper">
    <div class="container">
  <div class="table_container">
    <div class="table_wrapper">
      <div class="table_item">
        <div class="table_title table_title1">
          <div class="mobile_tab_heading">
            <h4>FEATURES</h4>
          </div>
          <ul>
            <li>Organisation Listing</li>
            <li>Verified Credentials</li>
            <li>Respond to Reviews Received</li>
            <li>Photo Gallery Upload</li>
            <li>Secure Cloud Hosting</li>
            <li>Secure Dashboard</li>
            <li>Customize Profile Page</li>
            <li>Conduct Polls</li>
            <li>Flag Contentious Reviews</li>
            <li>Monthy Review Email Invitations</li>
            <li>Ad-free Profile Page</li>
            <li>Social Links display on Profile Page</li>
            <li> QR for direct Profile Page access</li>
            <li> Performance Analytics</li>
            <li>Conduct Surveys </li>
            <li>Complaint Handling</li>
            <li>Promotions</li>
            <li>Featured Section Listing</li>
            <li>Email Review Request Customization</li>
            <li>Multi- Outlet Enabled</li>
            <li>Customer Query Alert </li>
            <li>Import Customer Details</li>
            <li>Premium Listing</li>
            <li>Display YouTube Video on Profile Page</li>
            <li>Multi-Country Enabled</li>
            <li>API Integration</li>
            <li>Sentiment Analysis</li>
            <li>Market Insights</li>
            <li>Gen Al-assisted Response</li>
            <li>Corporate Branding of Profile Page</li>
            <li>Dedicated Customer Manager</li>
            <li>Al Analytics Dashboard</li>
          </ul>
        </div>
      </div>
      <div class="table_item">
        <div class="table_heading">
          <div class="mobile_tab_heading">
            <h4>BASIC</h4>
          </div>
          <div class="table_title ">
            <ul>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(15 GB)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table_item">
        <div class="table_heading">
          <div class="mobile_tab_heading">
            <h4>STANDARD</h4>
          </div>
          <div class="table_title ">

            <ul>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(100 GB)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(10/Month)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(500)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table_item">
        <div class="table_heading">
          <div class="mobile_tab_heading">
            <h4>ADVANCED</h4>
          </div>
          <div class="table_title ">
            <ul>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(250 GB)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(50/Month)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(10,000)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(50/Month)</li>
              <li><i class="fa-regular fa-square-check"></i>(Basic)</li>
              <li><i class="fa-regular fa-square-check"></i>(5/Month)</li>
              <li><i class="fa-regular fa-square-check"></i>(1 Day/Month)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table_item">
        <div class="table_heading">
          <div class="mobile_tab_heading">
            <h4>PREMIUM</h4>
          </div>
          <div class="table_title ">
            <ul>
              <li><i class="fa-regular fa-square-check"></i>(Premium)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(1 Tb)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(200/Month)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(1,00,000)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(200/Month)</li>
              <li><i class="fa-regular fa-square-check"></i>(Premium)</li>
              <li><i class="fa-regular fa-square-check"></i>(50/Month)</li>
              <li><i class="fa-regular fa-square-check"></i>(5 Day/Month)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table_item">
        <div class="table_heading">
          <div class="mobile_tab_heading">
            <h4>ENTERPRISE</h4>
          </div>
          <div class="table_title ">
            <ul>
              <li><i class="fa-regular fa-square-check"></i>(Enterprise)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(Ai Integrated)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(5 Tb)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(Unlimited)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(Unlimited)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i>(Unlimited)</li>
              <li><i class="fa-regular fa-square-check"></i>(4 Levels)</li>
              <li><i class="fa-regular fa-square-check"></i>(Unlimited)</li>
              <li><i class="fa-regular fa-square-check"></i>(10 Day/Month)</li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
              <li><i class="fa-regular fa-square-check"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="table_bottom_wrap">
      <div class="table_bottom_item">
        <div class="table_bottom_heading">
          <h4>PRICE (Monthly) USD</h4>
        </div>
      </div>
      <div class="table_bottom_item">
        <div class="table_bottom_heading">
          <h4>$15</h4>
        </div>
      </div>
      <div class="table_bottom_item">
        <div class="table_bottom_heading">
          <h4>$30</h4>
        </div>
      </div>
      <div class="table_bottom_item">
        <div class="table_bottom_heading">
          <h4>$100</h4>
        </div>
      </div>
      <div class="table_bottom_item">
        <div class="table_bottom_heading">
          <h4>$200</h4>
        </div>

      </div>
      <div class="table_bottom_item">
        <div class="table_bottom_heading">
          <h4>Custom</h4>
        </div>
      </div>
    </div>
    <div class="table_last_bottom_wrap">
      <div class="table_last_wrp">
        <div>User License included</div>
      </div>
      <div class="table_last_wrp">
        <div>1</div>
      </div>
      <div class="table_last_wrp">
        <div>1</div>
      </div>
      <div class="table_last_wrp">
        <div>2</div>
      </div>
      <div class="table_last_wrp">
        <div>2</div>
      </div>
      <div class="table_last_wrp">
        <div>-</div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- BODY STYLE CSS LINK -->
  <link href="responsive.css" rel="stylesheet" type="text/css">
  <!-- BOOTSTRAP CSS LINS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
  <!-- JQUERY LINK -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- BOOTSTRAP JS LINKS -->
  <script src="js/bootstrap.min.js"></script>
</body>

<%- include('common/footer') -%>



<style>
    /* MEDIA QUERY RESPONSIVE STRAT */

@media only screen and (max-width:1200px) {
    .table_item .table_title ul li {
        font-size: 16px;
    }

    .table_heading h4 {
        font-size: 16px;
    }

    .table_bottom_wrap .table_bottom_heading h4 {
        font-size: 16px;
    }

    .table_last_bottom_wrap .table_last_wrp {
        font-size: 16px;
    }

    .table_container {
        overflow-x: auto;
        white-space: nowrap;
    }

    .all_title_wrapper,
    .table_wrapper,
    .table_bottom_wrap,
    .table_last_bottom_wrap {
        display: flex;
        flex-wrap: nowrap;
        min-width: max-content;
    }

    .all_title_wrapper .table_heading,
    .table_wrapper .table_item,
    .table_bottom_wrap .table_bottom_item,
    .table_last_bottom_wrap .table_last_wrp {
        width: auto;
        min-width: 150px;
        box-sizing: border-box;
    }


    .table_title ul li {
        font-size: 16px;
    }

    .all_title_wrapper .table_heading {
        width: 25%;
    }

    .table_bottom_wrap {
        padding: 0px 5px;
    }

    .mobile_tab_heading h4 {
        font-size: 16px;
    }

    .table_title1 ul {
        text-align: center;
        padding: 10px 10px;
    }

    
.main_table_wrapper{
    padding: 50px 0px;
}
}

/* MEDIA QUERY RESPONSIVE END */







/* DEFAULT CSS SETTING END */

.main_table_wrapper{
    padding: 100px 0px;
}

.table_container {
    background-color: #FCCB06;
}

.table_bottom_wrap {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.table_last_bottom_wrap {
    display: flex;
    align-items: baseline;
    background-color: #00000047;
    padding: 5px;
}

.table_last_bottom_wrap .table_last_wrp {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

.table_bottom_wrap .table_bottom_heading h4 {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: #000;
    text-align: center;
}


.table_bottom_wrap .table_bottom_item:nth-child(2) .table_bottom_heading h4,
.table_bottom_wrap .table_bottom_item:nth-child(3) .table_bottom_heading h4,
.table_bottom_wrap .table_bottom_item:nth-child(4) .table_bottom_heading h4,
.table_bottom_wrap .table_bottom_item:nth-child(5) .table_bottom_heading h4 {
    font-style: italic;
}

.table_wrapper .table_item:nth-child(6){
    border-right: 1px solid #fff;
}

.table_bottom_wrap .table_bottom_item:nth-child(6) .table_bottom_heading h4 {
    font-weight: 400;
}

.all_title_wrapper {
    display: flex;
    align-items: baseline;
    background-color: #000000;
    border-bottom: 1px solid #FCCB06;
}

.table_wrapper {
    display: flex;
    align-items: baseline;
}

.table_heading h4 {
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    margin: 0;
    text-align: center;
    border-right: 1px solid #ffffff;
    padding: 10px;
    color: #fff;
}

.table_title ul {
    padding: 0;
    margin: 0;
}

.table_title1 ul {
    text-align: center;
    padding: 0px 10px;
}

.table_item .table_title ul li {
    color: #000;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 8px;
}

.table_item .table_heading .table_title ul li:last-child {
    margin-bottom: 0;
    line-height: 0;
}

.table_item .table_heading .table_title {
    background-color: #fff;
    padding: 10px 10px 0;
}

.table_item .table_heading .table_title ul li i {
    margin-right: 20px;
}

.mobile_tab_heading h4 {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    margin: 0;
    text-align: center;
    border-right: 1px solid #ffffff;
    padding: 10px;
    color: #fff;
    background-color: #000;
}

.table_title1 ul {
    text-align: center;
    padding: 10px 10px;
}

.all_title_wrapper .table_heading:nth-child(1),
.table_wrapper .table_item:nth-child(1),
.table_bottom_wrap .table_bottom_item:nth-child(1),
.table_last_bottom_wrap .table_last_wrp:nth-child(1) {
    width: 25%;
}

.all_title_wrapper .table_heading:nth-child(2),
.table_wrapper .table_item:nth-child(2),
.table_bottom_wrap .table_bottom_item:nth-child(2),
.table_last_bottom_wrap .table_last_wrp:nth-child(2),
.all_title_wrapper .table_heading:nth-child(3),
.table_wrapper .table_item:nth-child(3),
.table_bottom_wrap .table_bottom_item:nth-child(3),
.table_last_bottom_wrap .table_last_wrp:nth-child(3),
.all_title_wrapper .table_heading:nth-child(4),
.table_wrapper .table_item:nth-child(4),
.table_bottom_wrap .table_bottom_item:nth-child(4),
.table_last_bottom_wrap .table_last_wrp:nth-child(4),
.all_title_wrapper .table_heading:nth-child(5),
.table_wrapper .table_item:nth-child(5),
.table_bottom_wrap .table_bottom_item:nth-child(5),
.table_last_bottom_wrap .table_last_wrp:nth-child(5),
.all_title_wrapper .table_heading:nth-child(6),
.table_wrapper .table_item:nth-child(6),
.table_bottom_wrap .table_bottom_item:nth-child(6),
.table_last_bottom_wrap .table_last_wrp:nth-child(6) {
    width: 15%;
}
</style>