<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancel</title>
</head>
<body>
    <h1>Subscription Canceled</h1>
    <p>Your subscription process was canceled.</p>
</body>
</html>
