<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 start =============== -->
<section class="main-content premium_company_profile bottom-main-content">
    <div class="container">
       <div class="main_box">
          <div class="basic_info_of_company">
             <div class="row align-items-center">
                <div class="col-md-4 col-lg-3">
                   <div class="company_logo">
                      <a href="/company/scwebtech"><img src="/1692865514410-1691580646587-1691402453374-1688989215485-logo.png" alt="SCWEBTECH"></a>
                      <div class="premium_logo"><i class="fas fa-crown"></i></div>
                   </div>
                </div>
                <div class="col-md-8 col-lg-6">
                   <div class="company_details">
                      <div class="row">
                         <div class="col-sm-12">
                            <h2 class="company_name">
                               SCWEBTECH
                            </h2>
                            <h4 class="tag_line">Simply Creative </h4>
                         </div>
                         <div class="col-sm-6">
                            <p class="common_style"><i class="fas fa-envelope"></i><a href="mailto:info@scwebtech.com">
                               info@scwebtech.com
                               </a>
                            </p>
                         </div>
                         <div class="col-sm-6">
                            <p class="common_style"><i class="fas fa-mobile"></i><a href="tel:9885458745">
                               9885458745
                               </a>
                            </p>
                         </div>
                         <div class="col-sm-12">
                            <p class="common_style"><i class="fas fa-map-marker-alt"></i>
                               Bengal Eco Intelligent Park Module number 19, 13th Floor, Plot No. 3, EM Block, Sector V, Bidhannagar, Kolkata, West Bengal 700091
                            </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-12 col-lg-3">
                   <div class="overall_score">
                      <div class="social_links">
                         <ul>
                         </ul>
                      </div>
                      <div class="score_info">
                         <div class="d-flex align-items-center mb-2">
                         </div>
                         <p>Total Reviews 7</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="company_profile_navigation">
             <ul>
                <li>
                   <a href="/company-dashboard/scwebtech"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li>
                   <a href="#"><i class="fas fa-user-tie"></i> Profile</a>
                   <ul>
                      <li><a href="/myprofile">User Profile</a></li>
                      <li><a href="/company-profile-management/scwebtech">Company Profile</a></li>
                   </ul>
                </li>
                <li>
                   <a href="/company-review-listing/scwebtech"><i class="fas fa-envelope"></i> Reviews</a>
                   <ul>
                      <li><a href="/send-review-invitation/scwebtech">Send Review Invitation</a></li>
                   </ul>
                </li>
                <!-- <li><a href="/company-poll-listing/scwebtech"><i class="fas fa-poll"></i> Polls</a></li> -->
                <li class="active"><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                <li><a href="/change-password"><i class="fas fa-lock"></i> Change Password</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                <li><a href="#"><i class="fa-solid fa-comment-exclamation"></i> Complaint</a></li>
             </ul>
          </div>
       </div>
       <div class="premium-alert-part">
        <h2 class="inner-main-head text-center">Alert</h2>
        <div class="premium-alert-box">
            <div class="row g-3 align-items-center justify-content-center mb-3">
                <div class="col-auto">
                  <label for="Daily Escation" class="col-form-label"><strong>Daily Escation</strong></label>
                </div>
                <div class="col-auto">
                    <div class="btn-group btn-toggle"> 
                        <button class="btn btn-sm">ON</button>
                        <button class="btn btn-sm btn-primary active">OFF</button>
                      </div>
                </div>
              </div>
              <div class="row g-3 align-items-center justify-content-center">
                <div class="col-auto">
                  <label for="Daily Escation" class="col-form-label"><strong>ETA Approaching Days</strong></label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control">
                </div>
              </div>
        </div>
        <div class="text-center mt-4"><a href="#" class="btn-default btn-warning">Save</a></div>
       </div>
    </div>
    <img src="/front-end/images/complain-overlay-object1.svg" alt="img" class="c-overlay1">
    <img src="/front-end/images/m-complain-object1.svg" alt="img" class="c-overlay2">
</section>
<!-- ============== Section1 end =============== -->

<%- include('common/footer') -%>