<%- include('common/header') -%>
   <%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content">
    <div class="container">
        <div class="default-content-area">
            <%- meta_values_array.content %>
        </div>
    </div>
</section>
<!-- ============== Section2 End =============== -->

<%- include('common/footer') -%>   