<!--begin::Aside-->
<div id="kt_aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside"
   data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
   data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start"
   data-kt-drawer-toggle="#kt_aside_mobile_toggle">
   <!--begin::Brand-->
   <div class="aside-logo flex-column-auto" id="kt_aside_logo">
      <!--begin::Logo-->
      <a href="/dashboard">
         <img alt="Logo" src="/assets/media/logos/logo.png" class="h-40px logo" />
      </a>
      <!--end::Logo-->
      <!--begin::Aside toggler-->
      <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle"
         data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
         data-kt-toggle-name="aside-minimize">
         <!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
         <span class="svg-icon svg-icon-1 rotate-180">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
               <path opacity="0.5"
                  d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z"
                  fill="black" />
               <path
                  d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z"
                  fill="black" />
            </svg>
         </span>
         <!--end::Svg Icon-->
      </div>
      <!--end::Aside toggler-->
   </div>
   <!--end::Brand-->
   <!--begin::Aside menu-->
   <div class="aside-menu flex-column-fluid">
      <!--begin::Aside Menu-->
      <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true"
         data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
         data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu"
         data-kt-scroll-offset="0">
         <!--begin::Menu-->
         <div
            class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
            id="#kt_aside_menu" data-kt-menu="true">
            <div class="menu-item">
               <div class="menu-content pb-2">
                  <span class="menu-section text-muted text-uppercase fs-8 ls-1">Dashboard</span>
               </div>
            </div>
            <% if(currentUserData.user_type_id != 3 ) { %>
            <div data-kt-menu-trigger="click"
               class="menu-item menu-accordion <% if(menu_active_id=='user'){ %> here show mb-1<% }%>">
               <span class="menu-link">
                  <span class="menu-icon">
                     <!--begin::Svg Icon | path: icons/duotune/communication/com013.svg-->
                     <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path
                              d="M6.28548 15.0861C7.34369 13.1814 9.35142 12 11.5304 12H12.4696C14.6486 12 16.6563 13.1814 17.7145 15.0861L19.3493 18.0287C20.0899 19.3618 19.1259 21 17.601 21H6.39903C4.87406 21 3.91012 19.3618 4.65071 18.0287L6.28548 15.0861Z"
                              fill="black" />
                           <rect opacity="0.3" x="8" y="3" width="8" height="8" rx="4" fill="black" />
                        </svg>
                     </span>
                     <!--end::Svg Icon-->
                  </span>
                  <span class="menu-title">Users</span>
                  <span class="menu-arrow"></span>
               </span>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/users">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Users</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/trashed-users">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Trashed Users</span>
                     </a>
                  </div>
               </div>
            </div>
            <% } %>
            <div data-kt-menu-trigger="click"
               class="menu-item menu-accordion <% if(menu_active_id=='pages'){ %> here show mb-1<% }%>">
               <span class="menu-link">
                  <span class="menu-icon">
                     <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path opacity="0.3"
                              d="M17 10H11C10.4 10 10 9.6 10 9V8C10 7.4 10.4 7 11 7H17C17.6 7 18 7.4 18 8V9C18 9.6 17.6 10 17 10ZM22 4V3C22 2.4 21.6 2 21 2H11C10.4 2 10 2.4 10 3V4C10 4.6 10.4 5 11 5H21C21.6 5 22 4.6 22 4ZM22 15V14C22 13.4 21.6 13 21 13H11C10.4 13 10 13.4 10 14V15C10 15.6 10.4 16 11 16H21C21.6 16 22 15.6 22 15ZM18 20V19C18 18.4 17.6 18 17 18H11C10.4 18 10 18.4 10 19V20C10 20.6 10.4 21 11 21H17C17.6 21 18 20.6 18 20Z"
                              fill="black" />
                           <path
                              d="M8 5C8 6.7 6.7 8 5 8C3.3 8 2 6.7 2 5C2 3.3 3.3 2 5 2C6.7 2 8 3.3 8 5ZM5 4C4.4 4 4 4.4 4 5C4 5.6 4.4 6 5 6C5.6 6 6 5.6 6 5C6 4.4 5.6 4 5 4ZM8 16C8 17.7 6.7 19 5 19C3.3 19 2 17.7 2 16C2 14.3 3.3 13 5 13C6.7 13 8 14.3 8 16ZM5 15C4.4 15 4 15.4 4 16C4 16.6 4.4 17 5 17C5.6 17 6 16.6 6 16C6 15.4 5.6 15 5 15Z"
                              fill="black" />
                        </svg>
                     </span>
                     <!--end::Svg Icon-->
                  </span>
                  <span class="menu-title">Pages</span>
                  <span class="menu-arrow"></span>
               </span>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-home">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Home</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-contacts">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Contacts</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-about">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">About Us</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-business">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Business</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-faq">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">FAQ</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-privacy-policy">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Privacy Policy</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-disclaimer">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Disclaimer</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-terms-of-service">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Terms of Service</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-complaint">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Complaint Register</span>
                     </a>
                  </div>
               </div>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/edit-global">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Global</span>
                     </a>
                  </div>
               </div>
               
            </div>
            
            <!--<div class="menu-item">
               <div class="menu-content pt-8 pb-2">
                  <span class="menu-section text-muted text-uppercase fs-8 ls-1">Company</span>
               </div>
            </div>-->
            <div data-kt-menu-trigger="click"
               class="menu-item menu-accordion <% if(menu_active_id=='company'){ %> here show mb-1<% }%>">
               <span class="menu-link">
                  <span class="menu-icon">
                     <!--begin::Svg Icon | path: assets/media/icons/duotune/abstract/abs022.svg-->
                     <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path opacity="0.3"
                              d="M11.425 7.325C12.925 5.825 15.225 5.825 16.725 7.325C18.225 8.825 18.225 11.125 16.725 12.625C15.225 14.125 12.925 14.125 11.425 12.625C9.92501 11.225 9.92501 8.825 11.425 7.325ZM8.42501 4.325C5.32501 7.425 5.32501 12.525 8.42501 15.625C11.525 18.725 16.625 18.725 19.725 15.625C22.825 12.525 22.825 7.425 19.725 4.325C16.525 1.225 11.525 1.225 8.42501 4.325Z"
                              fill="black" />
                           <path
                              d="M11.325 17.525C10.025 18.025 8.425 17.725 7.325 16.725C5.825 15.225 5.825 12.925 7.325 11.425C8.825 9.92498 11.125 9.92498 12.625 11.425C13.225 12.025 13.625 12.925 13.725 13.725C14.825 13.825 15.925 13.525 16.725 12.625C17.125 12.225 17.425 11.825 17.525 11.325C17.125 10.225 16.525 9.22498 15.625 8.42498C12.525 5.32498 7.425 5.32498 4.325 8.42498C1.225 11.525 1.225 16.625 4.325 19.725C7.425 22.825 12.525 22.825 15.625 19.725C16.325 19.025 16.925 18.225 17.225 17.325C15.425 18.125 13.225 18.225 11.325 17.525Z"
                              fill="black" />
                        </svg>
                     </span>
                     <!--end::Svg Icon-->
                  </span>
                  <span class="menu-title">Organization</span>
                  <span class="menu-arrow"></span>
               </span>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/companies">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">All Organizations</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/trashed-companies">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Trashed Organizations</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/add-company">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Add Organization</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/manage-categories">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Categories</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/view-featured-companies">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Featured Organizations</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/Plans">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Plan Management</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/currency-conversion">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Currency Conversion</span>
                     </a>
                  </div>
               </div>
            </div>
            
            <div data-kt-menu-trigger="click"
               class="menu-item menu-accordion <% if(menu_active_id=='miscellaneous'){ %> here show mb-1<% }%>">
               <span class="menu-link">
                  <span class="menu-icon">
                     <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen056.svg-->
                     <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                           <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                               <rect x="0" y="0" width="24" height="24"/>
                               <path d="M6,9 L6,15 C6,16.6568542 7.34314575,18 9,18 L15,18 L15,18.8181818 C15,20.2324881 14.2324881,21 12.8181818,21 L5.18181818,21 C3.76751186,21 3,20.2324881 3,18.8181818 L3,11.1818182 C3,9.76751186 3.76751186,9 5.18181818,9 L6,9 Z M17,16 L17,10 C17,8.34314575 15.6568542,7 14,7 L8,7 L8,6.18181818 C8,4.76751186 8.76751186,4 10.1818182,4 L17.8181818,4 C19.2324881,4 20,4.76751186 20,6.18181818 L20,13.8181818 C20,15.2324881 19.2324881,16 17.8181818,16 L17,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                               <path d="M9.27272727,9 L13.7272727,9 C14.5522847,9 15,9.44771525 15,10.2727273 L15,14.7272727 C15,15.5522847 14.5522847,16 13.7272727,16 L9.27272727,16 C8.44771525,16 8,15.5522847 8,14.7272727 L8,10.2727273 C8,9.44771525 8.44771525,9 9.27272727,9 Z" fill="#000000"/>
                           </g>
                       </svg>
                     </span>
                     <!--end::Svg Icon-->
                  </span>
                  <span class="menu-title">Miscellaneous</span>
                  <span class="menu-arrow"></span>
               </span>
                  
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/discussion-listing">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Discussions</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/poll-listing">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Polls</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/complaint-listing">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Complaints</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/survey-listing">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Surveys</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/push-notification">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Notification</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/payments">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Payments</span>
                     </a>
                  </div>
               </div>
                  
            </div>
            <!--Review-->
            <div class="menu-item">
               <div class="menu-content pt-8 pb-2">
                  <span class="menu-section text-muted text-uppercase fs-8 ls-1">Review Rating</span>
               </div>
            </div>
            <div data-kt-menu-trigger="click"
               class="menu-item menu-accordion <% if(menu_active_id=='review'){ %> here show mb-1<% }%>">
               <span class="menu-link">
                  <span class="menu-icon">
                     <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen003.svg-->
                     <span class="svg-icon svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                           viewBox="0 0 24 24" fill="none">
                           <path
                              d="M13.0079 2.6L15.7079 7.2L21.0079 8.4C21.9079 8.6 22.3079 9.7 21.7079 10.4L18.1079 14.4L18.6079 19.8C18.7079 20.7 17.7079 21.4 16.9079 21L12.0079 18.8L7.10785 21C6.20785 21.4 5.30786 20.7 5.40786 19.8L5.90786 14.4L2.30785 10.4C1.70785 9.7 2.00786 8.6 3.00786 8.4L8.30785 7.2L11.0079 2.6C11.3079 1.8 12.5079 1.8 13.0079 2.6Z"
                              fill="black" />
                        </svg></span>
                     <!--end::Svg Icon-->
                  </span>
                  <span class="menu-title">Reviews</span>
                  <span class="menu-arrow"></span>
               </span>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/all-review">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">All Review</span>
                     </a>
                  </div>
                  <div class="menu-item">
                     <a class="menu-link" href="/flag-review">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Flag Reviews</span>
                     </a>
                  </div>
               </div>
            </div>
            <div data-kt-menu-trigger="click"
               class="menu-item menu-accordion <% if(menu_active_id=='rating-tag'){ %> here show mb-1<% }%>">
               <span class="menu-link">
                  <span class="menu-icon">
                     <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen056.svg-->
                     <span class="svg-icon svg-icon-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M16.0077 19.2901L12.9293 17.5311C12.3487 17.1993 11.6407 17.1796 11.0426 17.4787L6.89443 19.5528C5.56462 20.2177 4 19.2507 4 17.7639V5C4 3.89543 4.89543 3 6 3H17C18.1046 3 19 3.89543 19 5V17.5536C19 19.0893 17.341 20.052 16.0077 19.2901Z" fill="black"/>
                        </svg></span>
                     <!--end::Svg Icon-->
                  </span>
                  <span class="menu-title">Tag Management</span>
                  <span class="menu-arrow"></span>
               </span>
               <div class="menu-sub menu-sub-accordion menu-active-bg">
                  <div class="menu-item">
                     <a class="menu-link" href="/review-rating-tags">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">All Tags</span>
                     </a>
                  </div>
                  
                  <% if(currentUserData.user_type_id != 3 ) { %>
                  <div class="menu-item">
                     <a class="menu-link" href="/add-rating-tag">
                        <span class="menu-bullet">
                           <span class="bullet bullet-dot"></span>
                        </span>
                        <span class="menu-title">Add Tag</span>
                     </a>
                  </div>
                  <% } %>
               </div>
            </div>
         </div>
         <!--end::Menu-->
      </div>
      <!--end::Aside Menu-->
   </div>
   <!--end::Aside menu-->
   <!--begin::Footer-->
   <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
      <a href="/logout" class="btn btn-custom btn-primary w-100" data-bs-toggle="tooltip" data-bs-trigger="hover"
         data-bs-dismiss-="click">
         Sign Out
      </a>
   </div>
   <!--end::Footer-->
</div>
<!--end::Aside-->